@import "tailwindcss";

@theme {
  --color-primary: #6200EE;
  --color-bg-light: #F7F7F7;
  --color-bg-dark: #121212;
  --color-text-light: #333333;
  --color-text-dark: #E0E0E0;
  --color-sticky-yellow: #FFF9C4;
  --color-sticky-green: #C8E6C9;
  --color-sticky-pink: #F8BBD0;
  --color-sticky-blue: #BBDEFB;
}